{% extends "navi/base.html" %}
{% load static %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card mb-3 nen">
                <div class="row g-0 card-home-page-section">
                  <div class="col-xs-12 col-md-4">
                    <img src="{%static '/ima/nen.png' %}" class="img-fluid rounded-start size-img" alt="...">
                  </div>
                  <div class="col-xs-12 col-md-8">
                    <div class="card-body size-card">
                      <h5 class="card-title cl">NFT</h5>
                      <p class="nd">NFT là viết tắt của từ Non-fungible token, dịch sang tiếng Việt có nghĩa là mã thông báo không thể thay thế. Về cơ bản, NFT là một loại tài sản kỹ thuật số được lưu trữ trên blockchain và đó có thể là một tác phẩm nghệ thuật, một bài hát, một đoạn video hay một trò chơi điện tử.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="carousel-item">
            <div class="card mb-3 nen">
                <div class="row g-0 card-home-page-section">
                  <div class="col-xs-12 col-md-4">
                    <img src="{%static '/ima/nen2.png' %}" class="img-fluid rounded-start size-img" alt="...">
                  </div>
                  <div class="col-xs-12 col-md-8">
                    <div class="card-body size-card">
                      <h5 class="card-title cl">CRYPTO</h5>
                      <p class="nd">Crypto còn được gọi là Cryptocurrency, là một dạng tiền điện tử được tung ra và phát hành bởi các dự án Blockchain. Nó được dùng tương tự một phương tiện giao dịch như tiền thật trong thực tế, nhưng những giao dịch này lại được diễn ra trên nền tảng Blockchain.

                        Crypto còn có tên gọi khác là tiền ảo, cái tên phổ biến nhất từ các người dùng trong thị trường này.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="card mb-3 nen">
                <div class="row g-0 card-home-page-section">
                  <div class="col-xs-12 col-md-4">
                    <img src="{%static '/ima/nen3.png' %}" class="img-fluid rounded-start size-img" alt="...">
                  </div>
                  <div class="col-xs-12 col-md-8">
                    <div class="card-body size-card">
                      <h5 class="card-title cl">SÀN GIAO DỊCH</h5>
                      <p class="nd">Sàn giao dịch Crypto hay sàn giao dịch tiền điện tử là nơi người mua và người bán có thể giao dịch tiền điện tử với nhau. Sàn giao dịch tiền điện tử cung cấp cho bạn một nền tảng giao dịch, thường ở dạng “ứng dụng” trên web hoặc di động, nơi bạn có thể mua và bán tiền điện tử.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h1 style="margin-left: 100px;">LATEST</h1>
<div class="container ">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3 late" >
      <div class="card nen" style="width: 18rem;">
        <img src="{%static '/ima/dog.jpg' %}" class="card-img-top img-nft" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 late">
      <div class="card nen" style="width: 18rem;">
        <img src="{%static '/ima/hamster.png' %}" class="card-img-top img-nft" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 late">
      <div class="card nen" style="width: 18rem;">
        <img src="{%static '/ima/blum.png' %}" class="card-img-top img-nft" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}