{% extends "navi/base.html" %}
{% load static %}
{% block content %}
<div class="resume-box">
    <br />
    <div class="top-sec">
        <div class="top-left">
            <h2 class="name">Human Nguyễn</h2>
            <p class="n-p">Website Developer</p>
            <hr class="line" />
        </div>

        <div class="top-right">
            <p class="p1"><span class="span1"><img src="%static ima/blum.png %"></span>Address<span> <br>01 Lái Thiêu 44
                </span></p>
            <p class="p1"><span class="span1"><img src="%static ima/clb.png %"></span>Phone<span>
                    <br>+84 37 695 3398</span>
            </p>
            <p class="p1"><span class="span1"><img src="%static ima/logo.png %"></span>Email<span>
                    <br>nguyennhan2682007@gmail.com</span>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="left-section">
        <div class="profile">
            <img src="%static ima/anh.png %" class="profile-img">

        </div>



        <div class="info">
            <p class="heading">profile</p>
            <p class="inp">
                I have born in Độc lạ Bình Dương. I'm very handsome and kind. I'm very friendly too.
            </p>
        </div>

        <div class="info">
            <p class="heading">Education</p>
            <div class="edu">
                <p>2013-2018</p>
                <p><strong>Phan Chu Trinh primary school</strong></p>
            </div>
            <div class="edu">
                <p>2018-2022</p>
                <p><strong>Nguyen Van Tiet secondary school</strong></p>
            </div>
            <div class="edu">
                <p>2022-2025</p>
                <p><strong>Trinh Hoai Duc highschool</strong></p>
            </div>

        </div>

        <div class="info">
            <p class="heading">Skills</p>
            <ul class="skill">
                <li>HTML <span>80%</span></li>
                <li>CSS <span>30%</span></li>
                <li>JAVASCRIPT <span>20%</span></li>
                <li>ANGULAR <span>0%</span></li>
                <li>JQUERY <span>0%</span></li>
                <li>RXJS <span>0%</span></li>
            </ul>
        </div>

    </div>

    <div class="right-section">

        <div class="s-box">
            <p><i class="bi bi-facebook">https://www.facebook.com/profile.php?id=100056785824322</i></p>
            <p><i class="bi bi-instagram">https://www.instagram.com/nguyenhuman26/</i></p>
            <p><i class="bi bi-youtube">https://www.youtube.com/@nhannguyeninhnhan2252</i></p>
            <p><i class="bi bi-facebook">https://www.facebook.com/</i></p>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <br><br>
        <div class="right-heading">

            <p class="heading">Work Experience</p>
        </div>
        <div class="clearfix"></div>
        <div class="lr-box">
            <div class="left">
                <p class="p4d">2022</p>

            </div>

            <div class="right">
                <p class="p4">Game Designer</p>
                <p class="p5">private company</p>
                <p class="p5">Đi làm game cho mấy thằng trong lớp nộp đề tài lấy 10đ. Mỗi bài 20k</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="lr-box">
            <div class="left">
                <p class="p4d">2023</p>

            </div>

            <div class="right">
                <p class="p4">software Developer</p>
                <p class="p5">THĐ Company</p>
                <p class="p5">Hợp tác làm phần mềm nhà thông minh đi thi.</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="lr-box">
            <div class="left">
                <p class="p4d">2024</p>

            </div>

            <div class="right">
                <p class="p4">Web Designer</p>
                <p class="p5">jobless</p>
                <p class="p5">ăn bám bố mẹ để học 12.</p>
            </div>
            <div class="clearfix"></div>
        </div>


        <br>

        <div class="right-heading">

            <p class="heading">Employment History</p>
        </div>
        <div class="clearfix"></div>
        <div class="lr-box">
            <div class="left">
                <p class="p4d">2022</p>

            </div>

            <div class="right">
                <p class="p4">Game Designer</p>
                <p class="p5">Private Company</p>
                <p class="p5">Bán game cho mn</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="lr-box">
            <div class="left">
                <p class="p4d">2023</p>
            </div>

            <div class="right">
                <p class="p4">Software Developer</p>
                <p class="p5">THĐ Company</p>
                <p class="p5">làm cu li cho trường</p>
            </div>
            <div class="clearfix"></div>
        </div>




        <br>


    </div>


</div>

<div class="clearfix"></div>

{% endblock %}