{% extends "navi/base.html" %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row ">
    {% for them in thems %}
    <div class="col nft">
      <div class="card img-fluid nen" style="width: 18rem;">
        <img src="{%static them.img|add:'.png' %}" class="card-img-top img-fluid img-coin" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{them.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{them.link}}" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}